In [ ]:
a = [1,1,1,2,2,3,3,4,5,5,6]
a.count(2)
a.count(5)
a.count(1)

In [1]:
s = input("Enter a string:")
alphabets = digits = specialcharacters = 0
for i in range(len(s)):    
    if(s[i].isalpha()):
        alphabets+=1
    elif(s[i].isdigit()):
            digits+=1
    else:
        specialcharacters+=specialcharacters   
print("no.of alphabets = ", alphabets)
print("no.of digits = ", digits)
print("no.of specialcharacters = ", specialcharacters)

Enter a string:abc123#$@
no.of alphabets =  3
no.of digits =  3
no.of specialcharacters =  0

In [2]:
l = [1,1,2,3,4,2,3,4,5]
li = list(set(l))
d = {}
for i in li:
    d[i] = l.count(i)
d

{1: 2, 2: 2, 3: 2, 4: 2, 5: 1}

In [ ]:
#sets
#set is a collection of elements they can't return duplicates
#set syntax--->(1,2,3)
#varname = (1,2,3,4)

In [13]:
a={1,2,3,4,1,7,8}
type(a)
a

{1, 2, 3, 4, 7, 8}

In [4]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
b={1,2,3,4,5,6,7,8,9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
a.intersection(b)

{1, 2, 3, 4, 7, 8}

In [16]:
a.add(15)
a

{1, 2, 3, 4, 7, 8, 15}

In [20]:
a.pop()
a

{2, 3, 4, 7, 8, 15}

In [23]:
a.remove(3)
a

{2, 4, 7, 8, 15}

In [24]:
a.discard(2)
a

{4, 7, 8, 15}

In [28]:
c={10,11,12,13}
a.update(c)
a

{4, 7, 8, 10, 11, 12, 13, 15}

In [30]:
s1 = {1,2,3,4}
s2 = {4,5,6,7}
s2.difference(s1)

{5, 6, 7}

In [32]:
#symmetric difference
s1 = {1,2,3,4}
s2 = {4,6,7,8}
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [33]:
s1 = {1,2,3,4}
s2 = {4,6,7,8}
s1.symmetric_difference_update(s2)
s1

{1, 2, 3, 6, 7, 8}

In [34]:
print(s1,s2)

{1, 2, 3, 6, 7, 8} {8, 4, 6, 7}

In [35]:
s2.issubset(s1)

False

In [1]:
s = input("Enter a string:")
alphabets = digits = 0
for i in range(len(s)):
    if(s[i].isalpha()):
        alphabets+=1
    elif(s[i].isdigit()):
        digits+=1
print("no.of alphabets=",alphabets)
print("no.of digits=",digits)

Enter a string:19kq1a0584
no.of alphabets= 3
no.of digits= 7

In [2]:
a = input('enter a string:')
for i in a:
    if i.isdigit():
        print(i)
    else:
        print(i)

enter a string:19kq1a0584
1
9
k
q
1
a
0
5
8
4

In [5]:
a = input('enter a string:')
for i in a:
    if i.isdigit():
        print(i)
    else:
        print(i)

enter a string:19kq1a0584
1
9
k
q
1
a
0
5
8
4